html, body {height: 100%}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  border: 2px black;
}

ul {
  list-style-type: none;
}

button {
  outline: none;
}

.vortex-app {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
}

.add-remove {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  height: 200px;
  width: 200px;

}

.add-event {
  display:flex;
  outline: none;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-right: -10px;
  font-weight: 20;
  width: 20px;
  color: black;
  padding-left: 0;
  box-shadow: none;
}

.event-inner-content {
  justify-content: center;
  margin-right: 20px;
}

.edit-event-input {
  outline: none;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid black;
  margin-bottom: 70px;
  margin-right: -10px;
  font-weight: 20;
  width: 15px;
  color: black;
  padding-left: 0;
  box-shadow: none;
}

.event {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50px;
  height: 50px;
  position: absolute;
  transition: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 0.2s;
  border-radius: 100%;
  /* border: 1px dotted black; */
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}

.event-list {
  margin-top: 110px;
  margin-right: 90px;
  margin-left: 90px;
  display: flex;
  justify-content: center;
  max-width: 50%;
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 100%;
  border: 0.1px dashed black;
}

.event--active {
  color: red;
}

.filter {
  display: flex;
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}

.filter--active {
  display: flex;
  border-bottom: 1px solid black;
}
