html, body {height: 100%}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323435;
}

ul {
  list-style-type: none;
  width: 500px;
  height: 500px;
}

.play-pause {
  outline: ivory;
  color: black;
  background: ivory;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;
  opacity: 0.8;
}

.play-pause:active {
  opacity: 0.4;
}

.add-btn {
  outline: ivory;
  color: black;
  background: ivory;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;
  opacity: 0.8;
}

.add-btn:active {
  opacity: 0.4;
}

.rm-btn {
  outline: ivory;
  color: black;
  background: ivory;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 20px;
  opacity: 0.8;
}

.rm-btn:active {
  opacity: 0.4;
}

.vortex-app {
  position: relative;
  font-family: courier;
  display: flex;
  align-items: center;
}

.controls {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; 
  height: 50%;
  width: 200px;
  color: ivory;
}

.instructions {
  color: white;
  position: relative;
  font-size: 0.88em;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  margin-top: -75px; 
}

.add-event {
  position: relative;
  display:flex;
  outline: none;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid ivory;
  color: ivory;
  margin-bottom: 10px;
  margin-right: -10px;
  font-weight: 20;
  width: 35px;
  padding-left: 0;
  box-shadow: none;
}

.pop-event {
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent;
  font-size: 15px;
  color: #323435;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: transparent;
  margin-left:-10px;
  margin-top: -30px;
  transition: background-color .7s;
  outline: none !important;
}

.pop-event:hover {
  outline: none !important;
  color: ivory;
  border: 1px solid ivory;
  background-color: palevioletred;
}

.event-inner-content {
  position: relative;
  justify-content: center;
}

.edit-event-input {
  position: absolute;
  outline: none;
  background: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  color: ivory;
  font-weight: 15;
  margin-top: 60px;
  margin-left: -50px;
  width: 2.2em;
  height: 20px;
  box-shadow: none;
  border-radius: 5%;
  transition-property: background-color border-bottom;
  transition-duration: 1s;
  transition-delay: .1s;
}

.edit-event-input:hover {
  border-radius: 10%;
  background-color: palevioletred;
  border-bottom: 1px solid ivory;
}

.event-container {
  display: flex;
  width: 100px;
  height: 100px;
  position: absolute;
  transition-duration: all 0.5s;
  transition-delay: all 0.1s;
  transition-timing-function: all cubic-bezier(0.215, 0.61, 0.355, 1);
  font-size: 0.8em;
  cursor: pointer;
}

.event-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 110px;
  margin-left: 400px;
  width: 600px;
  height: 450px;
  position: relative;
  border-radius: 100%;
}

.event-unarmed {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 0.12em solid lightskyblue;
}

.event-armed {
  display: flex;
  justify-content: center;
  align-items: center;
  color:lightskyblue;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 0.12em solid lightskyblue;
}

.envelope {
  width: 350px;
  height: 200px;
  border: 0.12em solid lightskyblue;
}